/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "../abstracts/variables";
.page .content-area .entry-title {
  font-family: $montserrat;
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
}
.content-area {
  h1 {
    font-family: $montserrat;
    font-size: 48px;
    line-height: 52px;
    font-weight: bold;
  }

  h2 {
    font-family: $montserrat;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
  }

  h3 {
    font-family: $montserrat;
    font-size: 30px;
    line-height: 42px;
    font-weight: 600;
  }

  h4 {
    font-family: $montserrat;
    font-size: 22px;
    line-height: 25px;
    font-weight: 600 !important;
    color: $color_black;
  }

  h5 {
    font-family: $montserrat;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #6D6D6D;
  }

  p {
    font-family: $opensans;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    color: $color_black;
    margin-bottom: 25px;
    a {
      font-weight: normal;
    }
  }

  .hint-dropdown__content {
    font-family: $opensans;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    color: $color_black;
    background-color: #efefef;
  }

  .p4 {
    color: $color_black;
  }

  a {
    font-family: $opensans;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    color: $accent_main_three;
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }

  strong {
    font-weight: 600;
  }

  ul, ol {
    li {
      padding: 0px;
      margin-left: 36px;
      margin-bottom: 12px;
      font-family: $opensans;
      font-size: 16px;
      line-height: 25px;
      font-weight: normal;
      color: $secondary_main;
      a {
        font-weight: normal;
      }
      &::marker {
        font-family: $opensans;
        font-size: 16px;
        line-height: 25px;
        font-weight: 600;
        color: $secondary_main;
      }
    }
    .li4 {
      margin-bottom: 0px;
      line-height: 35px;
    }
  }
  .letter-example {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px #F0F0F0BD;
    border: 1px solid #E9E9E9;
    border-radius: 3px;
    padding: 15px 15px 15px 15px;
    p {
      font-family: $opensans;
      font-size: 16px;
      line-height: 25px;
      font-weight: normal;
      color: $secondary_main;
      margin-bottom: 15px;
      a {
        font-weight: normal;
        color: $accent_main_three;
        &:hover {
          color: $primary_light;
        }
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .callout--example {
    background-color: #F8F9FC;
    box-shadow: 0px 0px 4px #839DE6BD;
    border-radius: 3px;
    padding: 15px;
  }
  .letter_example_two {
    background-color: $color_white;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 0px 4px #F0F0F0BD;
    border-radius: 3px;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    p {
      font-family: $opensans;
      font-size: 16px;
      line-height: 25px;
      font-weight: normal;
      color: $secondary_main;
      margin-bottom: 0px;
      a {
        font-weight: normal;
        color: $accent_main_three;
        &:hover {
          color: $primary_light;
        }
      }
    }
  }
  .letter_example_three {
    background-color: #F8F9FC;
    box-shadow: 0px 0px 4px #839DE6BD;
    border: 0px;
    border-radius: 3px;
    padding: 15px;
    width: fit-content;
    margin-top: 25px;
    p {
      font-family: $opensans;
      font-size: 16px;
      line-height: 25px;
      font-weight: normal;
      color: $secondary_main;
      margin-bottom: 0px;
      a {
        font-weight: normal;
        color: $accent_main_three;
        &:hover {
          color: $primary_light;
        }
      }
    }
  }
  .overview {
    background-color: $color_white;
    border: 1px solid #A8B5CE;
    border-radius: 5px;
    padding: 20px;
    .head {
      font-family: $montserrat;
      font-size: 20px;
      line-height: 25px;
      font-weight: 600;
      color: #6D6D6D;
      margin: 0px 0px 18px 0px;
    }
    ul {
      li {
        margin-left: 0px;
        margin-bottom: 15px;
        a {
          font-family: $opensans;
          font-size: 16px;
          line-height: 25px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.font_color_primary_main_1 {
  color: $primary_main_1;
}

.icon_heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    margin: 0px;
  }
  h3 {
    margin: 0px 0px 0px 15px !important;
    font-size: 24px !important;
    line-height: 25px !important;
    font-weight: bold !important;
    color: $secondary_main !important;
  }
}

.disclaimer, .terms {
  font-family: $opensans;
  font-size: 12px;
  line-height: 18px;
  color: $secondary_main;
  font-weight: normal;
  strong {
    font-weight: bold;
  }
  a {
    font-size: 12px !important;
    line-height: 18px;
  }
}

.question-disclaimer {
  p {
    font-family: $opensans;
    font-size: 12px !important;
    line-height: 18px;
    color: $secondary_main;
    font-weight: normal;
    a {
      font-size: 12px !important;
      line-height: 18px;
    }
  }
}