// Primary Colors
$primary: #009791;

// Secondary Colors
$secondary: #333e47;

// Netural Colors

// Accent Colors

// Overlay Color
$overlay: rgba(0, 0, 0, 0.4);

// Text Color
$text_color: #5a5a5a;

// Other Colors
$color_white: #ffffff;
$color_black: #000000;

// Font Family
$invention: 'Invention', sans-serif;
$khand: 'Khand', sans-serif;