/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "../abstracts/variables";
.main-navigation {
  #primary-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    .menu-item {
      margin: 0px 15px;
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
      a {
        font-size: 16px;
        line-height: normal;
        color: $text_color;
      }
    }
  }
}